body {
    background-color: azure;
}
img {
    border-radius: 50%;
    border: none;
}
img, .intro {
    display: inline;
    margin-left: 20px;
}
a {
    color: blueviolet;
}
hr {
    color: black;
    border-color: black;
    width: 100%;
    border-width: 2px;
}
.p1 {
    display: inline;
}
.p2 {
    display: inline;
}